/* Made with love by Mutiullah Samim*/

@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
	background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Numans", sans-serif;
	height: 100%;
}

.container {
	align-content: center;

	height: 100%;
}

.card {
	background-color: rgba(0, 0, 0, 0.5) !important;
	height: 570px;
	margin-bottom: 0;
	margin-top: 20px;
	width: 400px;
}
.vcenter {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.card-header h3 {
	color: white;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.input-group-prepend span {
	background-color: #ffc312;
	border: 0 !important;
	color: black;
	width: 50px;
}

input:focus {
	box-shadow: 0 0 0 0 !important;
	outline: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
	width: 20px;
}

.login_btn {
	background-color: #ffc312;
	color: black;
	width: 100px;
}

.login_btn:hover {
	background-color: white;
	color: black;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}
@media screen and (max-width: 1000px) {
	.vcenter {
		top: 48%;
	}
	.card {
		transform: scale(1.2);
	}
}

@media screen and (max-width: 400px) {
	.vcenter {
		top: 48%;
	}
	.card {
		transform: scale(2);
	}
}
